@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");

* {
	box-sizing: border-box;
}

body,
html,
#root {
	background: rgb(9, 1, 22);
	margin: 0;
	padding: 0;
	position: fixed;
}

.description {
	left: 0;
}

.main {
	font-family: "Karla", sans-serif;
	text-align: center;
	font-size: 20px;
}

h2 {
	font-family: "Karla", sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
}

#logo {
	position: fixed;
    top: 0;
	left: 0;
    display:inline;
	max-width: 12vw;
	margin-left: 15px;
	
}

#exit{
	position: fixed;
    display:inline;
    right: 0;
	top: 0;
	margin-right: 15px;
	font-family: "Karla", sans-serif;
	font-size: 18px;
}

#exit:hover{
 background-color:red;
}